.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 3rem;
  background: transparent;
  color: black;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
    transition: all 0.3s ease;
    transform: translateY(-100%);
}

.navbar.scrolled {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
}

.navbar ul{
     list-style: none;
     display: flex;
     gap: 20px;
     justify-content: center;
     
}
.navbar button {
  background: black;
  color: #fff;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 500px;
  cursor: pointer;
  transition: background 0.3s;
}